@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');



li,
img {
    cursor: pointer;
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(to right,
            rgba(112, 157, 255, 0.8),

            hsla(242, 74%, 61%, 0.8)) !important;
}

.icon {
    width: 40px;
    margin: 0 auto;
}

.animate-shake {
    animation: shake 1s ease-in-out infinite;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(20deg);
    }

    40% {
        transform: rotate(-20deg);
    }

    60% {
        transform: rotate(20deg);
    }

    80% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}